{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {
            var userId = {{ user.id }};

            $('#profile-form').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: {
                            url: '/account/validate-email',
                            data: {
                                ignore_id: function() {
                                    return userId;
                                }
                            }
                        }
                    },
                    password: {
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'Email already taken.'
                    }
                }
            });

            // Show password toggle button
            $('#password').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}

    <h1>Profile</h1>

    {% if errors is not empty %}
        <p>Errors:</p>

        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="/profile/update" id="profile-form">
        <table>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input id="name" name="name" placeholder="Name" value="{{ user.name }}" required></td>
            </tr>
            <tr>
                <td><label for="email">E-mail</label></td>
                <td><input type="email" id="email" name="email" placeholder="E-mail" value="{{ user.email }}" required></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input type="password" id="password" name="password" placeholder="Password" aria-describedby="help-block">
                    <span id="help-block">Leave blank to keep current password</span>
                </td>
            </tr>
        </table>

        <button type="submit">Save</button>
        <a href="/profile/show">Cancel</a>
    </form>

{% endblock %}